*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, #56CCF2, #2F80ED); */
  background: #1c92d2;
  background: linear-gradient(to right, #5eb7e6, #d7f2f7, #4fa0cc);
}